.login__dropDown {
    position: relative;
    display: flex;
    width: 85px;
    height: 35px;
    align-items: center;
    justify-content: right;
}

.login__dropDown button{
  border: none;
}

.login__position {
    transform: translateY(0) !important;
}

.login__dropDown .submenu {
    position: absolute;
    top: 110%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background-color: #fff;
    min-width: 150px;
    z-index: 999;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 9px 0px rgb(34 12 43 / 10%);
}

.login__dropDown:hover > .submenu {
    opacity: 1;
    visibility: visible;
}

.login__dropDown .menu-item {
    margin: 0;
    display: block;
}

.login__dropDown .menu-item a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modalbtn{
  width: 100%;
    height: 42px;
    color: white;
    font-weight: 600;
    background-image:linear-gradient(to top, #353232de , #bb4f59 24%);
}


.login__dropDown {
    width: 100%;
}